/* Main CSS for "Here We Are" final project directory */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* This will clip errant scroll bars */
}

#container {
  margin: 0;
  padding: 0;
  z-index: 1;
}

#button {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 8px;
	color: #fff;
	background-color: #555;
	opacity: 0.7;
  z-index: 5;
}

#button:hover {
	cursor: pointer;
	opacity: 1;
}

.icons {
  fill: none;
  width: 3em;
  height: 3em;
  stroke: white;
  stroke-width: 8;
  stroke-miterlimit: 3;
}
