/* Main CSS for "Here We Are" final project directory */

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body {
  background-image: url("../images/wood.jpg");
  background-position: bottom right;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  z-index: -2;
}

#tile1 {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  position: absolute;
  transform: translate(100px, 150px) rotateZ(-30deg);
}

#tile2 {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  position: absolute;
  transform: translate(450px, 170px) rotateZ(40deg);
}

#tile3 {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  position: absolute;
  transform: translate(250px, 400px) rotateZ(10deg);
}

.tile:active {

}
