/* Main CSS for "Here We Are" final project directory */

body {
  background-image: url("../images/wood.jpg");
  background-position: bottom right;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -2;
}

#container {
  margin: 0;
  padding: 0;
  width: 95vw;
  position: relative;
}

#button {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 8px;
	color: #fff;
	background-color: #555;
	opacity: 0.7;
  z-index: 5;
}

#button:hover {
	cursor: pointer;
	opacity: 1;
}

.icons {
  fill: none;
  width: 3em;
  height: 3em;
  stroke: white;
  stroke-width: 8;
  stroke-miterlimit: 3;
}

.tile {
  width: 550px;
  height: 375px;
  border: 1px outset black;
  transition: transform 400ms ease-in 0.08s;
  position: absolute;
}

.tile:focus {
  outline: none;
  box-shadow: 25px 37px 50px 10px #000000;
}

#tile1 {
  background-image: url("../images/wanted.jpg");
  transform: translate(280px, 120px) rotateZ(-20deg);
  z-index: 1;
}

#tile1:focus {
  transform: translate(420px, 200px) rotateZ(-5deg);
}

#tile2 {
  background-image: url("../images/where.jpg");
  transform: translate(750px, 170px) rotateZ(30deg);
  z-index: 2;
}

#tile2:focus {
  transform: translate(550px, 220px) rotateZ(10deg);
}

#tile3 {
  background-image: url("../images/full-coverage.jpg");
  transform: translate(450px, 500px) rotateZ(10deg);
  z-index: 0;
}

#tile3:focus {
  transform: translate(450px, 300px) rotateZ(-7deg);
}
